target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
*WorkFlow2.java
*WorkFlow3.java
*WorkFlow4.java
*WorkFlow5.java
*WorkFlow6.java
*WorkFlow7.java
*WorkFlow8.java
*WorkFlow9.java
*WorkFlow10.java
*WorkFlow11.java
*WorkFlow12.java
*WorkFlow13.java
*WorkFlow14.java

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store